src/main/resources/xsd/get_rounds.xsd

<?xml version="1.0"?>

<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:gsm="gsm_schema">
    <xsd:import namespace="gsm_schema" schemaLocation="http://client.core.optasports.com/gsm.xsd"/>
    <xsd:element name="gsmrs">
        <xsd:complexType>

            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element name="method" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>

                        <xsd:choice minOccurs="0" maxOccurs="unbounded">
                            <xsd:element name="parameter" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>


                                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                                    <xsd:attribute name="value" type="xsd:string" use="required"/>

                                </xsd:complexType>
                            </xsd:element>

                        </xsd:choice>

                        <xsd:attribute name="method_id" type="xsd:integer" use="required"/>
                        <xsd:attribute name="name" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="255"/>
                                </xsd:restriction>

                            </xsd:simpleType>
                        </xsd:attribute>

                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="competition" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>

                        <xsd:choice minOccurs="0" maxOccurs="unbounded">
                            <xsd:element name="season" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>

                                    <xsd:choice minOccurs="0" maxOccurs="unbounded">
                                        <xsd:element name="round" minOccurs="0" maxOccurs="unbounded">
                                            <xsd:complexType>

                                                <xsd:choice minOccurs="0" maxOccurs="unbounded">
                                                    <xsd:element name="coverage" minOccurs="0" maxOccurs="unbounded">
                                                        <xsd:complexType>


                                                            <xsd:attribute name="type" type="xsd:string"
                                                                           use="required"/>
                                                            <xsd:attribute name="code" use="required">
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:string">
                                                                        <xsd:enumeration value="Before the match"/>
                                                                        <xsd:enumeration value="Live"/>
                                                                        <xsd:enumeration value="After the match"/>
                                                                        <xsd:enumeration value="Not available"/>
                                                                    </xsd:restriction>

                                                                </xsd:simpleType>
                                                            </xsd:attribute>
                                                            <xsd:attribute name="interval" use="required">
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xsd:string">
                                                                        <xsd:minLength value="0"/>
                                                                    </xsd:restriction>

                                                                </xsd:simpleType>
                                                            </xsd:attribute>

                                                        </xsd:complexType>
                                                    </xsd:element>

                                                </xsd:choice>

                                                <xsd:attribute name="round_id" type="xsd:integer" use="required"/>
                                                <xsd:attribute name="name" type="xsd:string" use="required"/>
                                                <xsd:attribute name="start_date" type="xsd:date" use="required"/>
                                                <xsd:attribute name="end_date" use="required">
                                                    <xsd:simpleType>
                                                        <xsd:restriction base="xsd:string">
                                                            <xsd:minLength value="0"/>
                                                        </xsd:restriction>

                                                    </xsd:simpleType>
                                                </xsd:attribute>
                                                <xsd:attribute name="type" use="required">
                                                    <xsd:simpleType>
                                                        <xsd:restriction base="xsd:string">
                                                            <xsd:enumeration value="table"/>
                                                            <xsd:enumeration value="cup"/>
                                                        </xsd:restriction>

                                                    </xsd:simpleType>
                                                </xsd:attribute>
                                                <xsd:attribute name="groups" type="xsd:integer" use="optional"/>
                                                <xsd:attribute name="ordermethod" type="xsd:integer" use="optional"/>
                                                <xsd:attribute name="has_outgroup_matches" type="xsd:string"
                                                               use="optional"/>
                                                <xsd:attribute name="details" type="xsd:string" use="optional"/>
                                                <xsd:attribute name="last_updated" type="gsm:dateTime" use="optional"/>

                                            </xsd:complexType>
                                        </xsd:element>

                                    </xsd:choice>

                                    <xsd:attribute name="season_id" type="xsd:integer" use="required"/>
                                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                                    <xsd:attribute name="start_date" type="xsd:date" use="required"/>
                                    <xsd:attribute name="end_date" use="required">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:minLength value="0"/>
                                            </xsd:restriction>

                                        </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="service_level">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:minLength value="0"/>
                                            </xsd:restriction>

                                        </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute name="last_updated" type="gsm:dateTime"/>
                                    <xsd:attribute name="season_name" type="xsd:string" use="optional"/>
                                    <xsd:attribute name="overs_per_innings" type="xsd:string" use="optional"/>

                                </xsd:complexType>
                            </xsd:element>

                        </xsd:choice>

                        <xsd:attribute name="competition_id" type="xsd:integer" use="required"/>
                        <xsd:attribute name="name" type="xsd:string" use="required"/>
                        <xsd:attribute name="teamtype" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="default"/>
                                    <xsd:enumeration value="women"/>
                                    <xsd:enumeration value="youth"/>
                                </xsd:restriction>

                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="display_order" type="xsd:integer" use="optional"/>
                        <xsd:attribute name="type" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="international"/>
                                    <xsd:enumeration value="type"/>
                                </xsd:restriction>

                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="area_id" use="required">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="0"/>
                                </xsd:restriction>

                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="area_name" type="xsd:string" use="required"/>
                        <xsd:attribute name="last_updated" type="gsm:dateTime" use="required"/>
                        <xsd:attribute name="soccertype" type="xsd:string" use="optional"/>
                        <xsd:attribute name="format" use="optional">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="International super cup"/>
                                    <xsd:enumeration value="International cup"/>
                                    <xsd:enumeration value="Domestic super cup"/>
                                    <xsd:enumeration value="Domestic cup"/>
                                    <xsd:enumeration value="Domestic league"/>
                                </xsd:restriction>

                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="countrycode" use="optional">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="3"/>
                                    <xsd:minLength value="0"/>
                                </xsd:restriction>

                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute name="ow_competition_id" use="optional">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:minLength value="0"/>
                                </xsd:restriction>

                            </xsd:simpleType>
                        </xsd:attribute>

                    </xsd:complexType>
                </xsd:element>

            </xsd:choice>

            <xsd:attribute name="version" type="xsd:string" use="required"/>
            <xsd:attribute name="sport" type="xsd:string" use="required"/>
            <xsd:attribute name="lang" use="required">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:length value="2"/>
                    </xsd:restriction>

                </xsd:simpleType>
            </xsd:attribute>
            <xsd:attribute name="last_generated" type="xsd:string" use="required"/>
            <xsd:attribute name="last_updated" type="gsm:dateTime" use="optional"/>

        </xsd:complexType>
    </xsd:element>

</xsd:schema>






